<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DivorceCortana.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DivorceCortana.Properties.Settings>
            <setting name="ServicesToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AdobeFlashPlayerUpdateSvc</string>
                        <string>DiagTrack</string>
                        <string>dmwappushservice</string>
                        <string>DPS</string>
                        <string>ibtsiva</string>
                        <string>igfxCUIService1.0.0.0</string>
                        <string>igfxCUIService2.0.0.0</string>
                        <string>nvsvc</string>
                        <string>NvTelemetryContainer</string>
                        <string>RetailDemo</string>
                        <string>TrkWks</string>
                        <string>WdiServiceHost</string>
                        <string>Net Driver HPZ12</string>
                        <string>Pml Driver HPZ12</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServicesToDisable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AdobeFlashPlayerUpdateSvc</string>
                        <string>AppReadiness</string>
                        <string>AppXSvc</string>
                        <string>BcmBtRSupport</string>
                        <string>Browser</string>
                        <string>CDPSvc</string>
                        <string>CDPUserSvc</string>
                        <string>cphs</string>
                        <string>DevicesFlowUserSvc</string>
                        <string>diagnosticshub.standardcollector.service</string>
                        <string>diagsvc</string>
                        <string>DiagTrack</string>
                        <string>dmwappushservice</string>
                        <string>DoSvc</string>
                        <string>DPS</string>
                        <string>DsSvc</string>
                        <string>FrameServer</string>
                        <string>HomeGroupListener</string>
                        <string>HomeGroupProvider</string>
                        <string>ibtsiva</string>
                        <string>icssvc</string>
                        <string>igfxCUIService2.0.0.0</string>
                        <string>InstallService</string>
                        <string>lfsvc</string>
                        <string>MapsBroker</string>
                        <string>MessagingService</string>
                        <string>MpsSvc</string>
                        <string>NcbService</string>
                        <string>NvTelemetryContainer</string>
                        <string>OneSyncSvc</string>
                        <string>PimIndexMaintenanceSvc</string>
                        <string>RetailDemo</string>
                        <string>RmSvc</string>
                        <string>Sense</string>
                        <string>SensorDataService</string>
                        <string>SensorService</string>
                        <string>SensrSvc</string>
                        <string>spectrum</string>
                        <string>SysMain</string>
                        <string>TabletInputService</string>
                        <string>TokenBroker</string>
                        <string>TrkWks</string>
                        <string>UnistoreSvc</string>
                        <string>UserDataSvc</string>
                        <string>WbioSrvc</string>
                        <string>WdiServiceHost</string>
                        <string>WdiSystemHost</string>
                        <string>WdNisSvc</string>
                        <string>wercplsupport</string>
                        <string>WerSvc</string>
                        <string>WinDefend</string>
                        <string>wisvc</string>
                        <string>wlidsvc</string>
                        <string>WMPNetworkSvc</string>
                        <string>WpnService</string>
                        <string>WpnUserService</string>
                        <string>wudfsvc</string>
                        <string>xbgm</string>
                        <string>XblAuthManager</string>
                        <string>XblGameSave</string>
                        <string>XboxGipSvc</string>
                        <string>XboxNetApiSvc</string>
                        <string>odserv</string>
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FoldersToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\DiskDiagnostic</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Customer Experience Improvement Program</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Diagnosis</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Windows Media Sharing</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\GWX</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Windows Error Reporting</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Power Efficiency Diagnostics</string>
                        <string>C:\Windows\System32\Tasks\Microsoft\Windows\Feedback</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilesToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Windows\System32\Tasks\Adobe Flash Player Updater</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilesToDisable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Windows\System32\generaltel.dll</string>
                        <string>C:\Windows\System32\diagtrack.dll</string>
                        <string>C:\Windows\System32\diagtrack_win.dll</string>
                        <string>C:\Windows\System32\diagtrack_wininternal.dll</string>
                        <string>C:\Windows\System32\UtcResources.dll</string>
                        <string>C:\Windows\System32\wsqmcons.exe</string>
                        <string>C:\Windows\System32\WSCollect.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FoldersToDisable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Windows\System32\DiagSvcs</string>
                        <string>C:\Windows10Upgrade</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TasksToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Adobe Flash Player Updater</string>
                        <string>OneDrive Standalone Update Task v2</string>
                        <string>Open URL by RoboForm</string>
                        <string>Run RoboForm TaskBar Icon</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TaskFoldersToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\Microsoft\Windows Defender</string>
                        <string>\Microsoft\Windows\Application Experience</string>
                        <string>\Microsoft\Windows\ApplicationData</string>
                        <string>\Microsoft\Windows\CloudExperienceHost</string>
                        <string>\Microsoft\Windows\Customer Experience Improvement Program</string>
                        <string>\Microsoft\Windows\Diagnosis</string>
                        <string>\Microsoft\Windows\DiskDiagnostic</string>
                        <string>\Microsoft\Windows\GWX</string>
                        <string>\Microsoft\Windows\Power Efficiency Diagnostics</string>
                        <string>\Microsoft\Windows\Windows Activation Technologies</string>
                        <string>\Microsoft\Windows\Windows Error Reporting</string>
                        <string>\Microsoft\Windows\Windows Media Sharing</string>
                        <string>\Microsoft\Windows\Wininet</string>
                        <string>\Microsoft\Windows\Feedback\Siuf</string>
                        <string>\Microsoft\Windows\Feedback</string>
                        <string>\Microsoft\Windows\RetailDemo</string>
                        <string>\Microsoft\Windows\Maintenance\WinSAT</string>
                        <string>\Microsoft\Windows\RAC</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FoldersToDisableAndRemoveFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%userprofile%\AppData\Roaming\vstelemetry</string>
                        <string>%userprofile%\AppData\Roaming\Mozilla\Firefox\Crash Reports</string>
                        <string>C:\ProgramData\Microsoft\Diagnosis</string>
                        <string>c:\programdata\microsoft\windows\wer</string>
                        <string>C:\programdata\microsoft\windows\Caches</string>
                        <string>C:\programdata\microsoft\windows\Power Efficiency Diagnostics</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DeregisterDll" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Program Files\Microsoft Office\Office15\GROOVEEX.DLL</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServicesToUnImage" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CDPSvc</string>
                        <string>CDPUserSvc</string>
                        <string>diagnosticshub.standardcollector.service</string>
                        <string>PimIndexMaintenanceSvc</string>
                        <string>WpnUserService</string>
                        <string>WpnService</string>
                        <string>UserDataSvc</string>
                        <string>OneSyncSvc</string>
                        <string>WdiServiceHost</string>
                        <string>WdiSystemHost</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SystemAppsToDelete" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CortanaListenUIApp</string>
                        <string>DesktopLearning</string>
                        <string>DesktopView</string>
                        <string>EnvironmentsApp</string>
                        <string>holocamera</string>
                        <string>holoitemplayerapp</string>
                        <string>InsiderHub</string>
                        <string>Microsoft.AAD.BrokerPlugin</string>
                        <string>Microsoft.AccountsControl</string>
                        <string>Microsoft.BioEnrollment</string>
                        <string>microsoft.creddialoghost</string>
                        <string>Microsoft.LockApp</string>
                        <string>Microsoft.MicrosoftEdge</string>
                        <string>Microsoft.PPIProjection</string>
                        <string>Microsoft.Windows.AppRep.ChxApp</string>
                        <string>Microsoft.Windows.AppResolverUX</string>
                        <string>Microsoft.Windows.AssignedAccessLockApp</string>
                        <string>Microsoft.Windows.CloudExperienceHost</string>
                        <string>Microsoft.Windows.ContentDeliveryManager</string>
                        <string>Microsoft.Windows.Cortana</string>
                        <string>Microsoft.Windows.HolographicFirstRun</string>
                        <string>Microsoft.Windows.ModalSharePickerHost</string>
                        <string>Microsoft.Windows.OOBENetworkCaptivePortal</string>
                        <string>Microsoft.Windows.OOBENetworkConnectionFlow</string>
                        <string>Microsoft.Windows.SecHealthUI</string>
                        <string>Microsoft.Windows.SecondaryTileExperience</string>
                        <string>Microsoft.Windows.SecureAssessmentBrowser</string>
                        <string>Microsoft.Windows.WindowPicker</string>
                        <string>Microsoft.XboxGameCallableUI</string>
                        <string>ParentalControls</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DivorceCortana.Properties.Settings>
    </userSettings>
</configuration>